# 개발 환경 파일
/target/
/.idea/

# 로그 파일
*.log

# IDE 설정 파일 (Eclipse, IntelliJ 등)
/.classpath
/.project
/.settings/
*.iml

# 응용 프로그램 속성 파일
application.properties

# 컴파일된 클래스 파일
*.class

# 로컬 디버그 설정 파일
/.vscode/
/.metadata/
